# build and commit the dist folder after successful CI
name: CI build

on:
  workflow_run:
    workflows:
      - 'CI'
    types:
      - 'completed'

jobs:
  on-success:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
          # cache: 'yarn'

      # build dist folder
      - run: yarn install --frozen-lockfile
      - run: yarn build

      # NOTE: doesn't work if `git add dist --force` is removed
      - run: git add dist --force
      - run: git status

      # commit and push dist folder
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'chore(dist): CI build'
          file_pattern: dist
          add_options: '--force'
