# CI for src folder
name: CI

on:
  pull_request:
    branches:
      - master
    paths:
      - 'test/**'
      - 'src/**'
      - 'config/**'
      # - '.github/**'
      - 'package.json'
      - 'yarn.lock'
  push:
    branches:
      - master
    paths:
      - 'test/**'
      - 'src/**'
      - 'config/**'
      - '.github/**'
      - 'package.json'
      - 'yarn.lock'

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - macOS-latest
        node_version:
          # - 14
          - 16

    steps:
      - run: sudo apt install -y xvfb
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}

      - run: yarn install --frozen-lockfile
      - run: yarn test
      - run: yarn build
      - run: yarn webpack

      # disable hosts we shouldn't use
      - run: sudo echo "255.255.255.255 cloudflare-ipfs.com" | sudo tee -a /etc/hosts
      - run: sudo echo "255.255.255.255 pubsubprovider.xyz" | sudo tee -a /etc/hosts

      - run: yarn test:server & yarn test:server:wait-on
      - run: CHROME_BIN=$(which chrome) FIREFOX_BIN=$(which firefox) yarn test:e2e:mock
      - run: CHROME_BIN=$(which chrome) FIREFOX_BIN=$(which firefox) yarn test:e2e:browser
      # electron cannot run headless needs virtual display xvfb
      - run: xvfb-run yarn test:e2e:electron
